service cloud.firestore {
  match /databases/{database}/documents {
    function isLoggedIn() {
      return request.auth != null && request.auth.uid != null && request.auth.uid != ""
          && request.auth.token != null && request.auth.token.phone_number != null && request.auth.token.phone_number != "";
    }

    function isOperator() {
      return isLoggedIn()
          && exists(path("/databases/" + database + "/documents/users/" + request.auth.uid))
          && get(path("/databases/" + database + "/documents/users/" + request.auth.uid)).data.isOperator == true;
    }

    match /{collection=**} {
      allow read: if collection == path("/databases/" + database + "/documents/groups")
                  || collection == path("/databases/" + database + "/documents/abteilungen")
    }
    match /abteilungen/{document=**} {
      allow read: if true;
    }
    match /groups/{document=**} {
      allow read: if true;
      allow write: if isOperator();
    }
    match /jokerVisits/{document=**} {
      allow read: if isLoggedIn()
    }
    match /jokers/{document=**} {
      allow read: if isLoggedIn();
    }
    match /mrTChanges/{document=**} {
      allow read: if isLoggedIn();
    }
    match /settings/{document=**} {
      allow read: if isLoggedIn();
    }
    match /stationVisits/{document=**} {
      allow read: if isLoggedIn();
      allow write: if isOperator();
    }
    match /stations/{document=**} {
      allow read: if isLoggedIn();
    }
    match /users/{uid} {
      allow read: if true;
      allow write: if isLoggedIn();
    }
  }
}
