{
  "rules": {
    "$year": {
      "settings": {
        ".read": true,
        ".write": false,
      },
      "abteilungen": {
        ".read": true,
        ".write": false,
      },
      "events": {
        ".read": true,
        ".write": "auth.uid !== null",
        "$eventtype": {
          "$index": { ".validate": "newData.hasChildren(['group', 'time']) && newData.child('group').isNumber() && newData.child('time').isNumber()" },
        }
      },
      "groups": {
        ".read": true,
        ".write": false,
      },
      "jokers": {
        ".read": true,
        ".write": false,
      },
      "stations": {
        ".read": true,
        ".write": false,
      },
      "users": {
        "$tel": {
          ".read": true,
          ".write": false,
          "activeCall": {
            ".read": true,
            ".write": true,
            ".validate": "auth.token.phone_number === $tel || auth.token.phone_number === newData.val()",
          }
        }
      }
    },
    ".read": false,
    ".write": false,
  }
}
