@import './fonts.scss';
@import './bulma.scss';

body {
  padding: 1.25rem;
  position: relative;
  min-height: 100vh;
}

.button, .button span {
  font-weight: $weight-medium;
}

.column.panel {
  padding: 0;
}

.card {
  margin-bottom: 1.5rem;
}

.is-gap-2 {
  gap: 0.5rem;
}

tr.is-clickable {
  cursor: pointer;
}

.panel-block.is-strikethrough {
  color: $grey-light;
}

.panel-block span {
  margin-right: 0.3em;
}

tr.is-active-call {
  background: $green !important;
}

tr.has-content-vcentered > td {
  vertical-align: middle;
}

tr.has-content-vcentered > td > span {
  display: flex;
}

tr.has-content-vcentered > td > span > span {
  align-self: center;
  margin-right: 0.5em;
}

.message div {
  white-space: pre-wrap;
}

input.input[disabled] {
  color: $grey-dark;
}

input.input::placeholder,
textarea.textarea::placeholder {
  color: $grey;
}

.fullscreen-chat {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-card {
  background-color: white;
  z-index: 1;
  width: 66vw;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}

@media screen and (min-width: 769px) {
  .is-flex-direction-row-widescreen {
    flex-direction: row !important;
  }
}

.station-visit-image, .joker-visit-image {
  display: inline-block;
  height: 200px;
  width: 300px;
  background-size: cover;
  background-position: center;
}
.is-valign-text-top {
  vertical-align: text-top !important;
}
.is-valign-middle {
  vertical-align: middle !important;
}
.is-multiline-text {
  white-space: pre-wrap !important;
}
.loading .loading-overlay.no-overlay {
  background: none;
}
.checking-spinner {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: text-bottom;
}
.is-table-layout-fixed {
  table-layout: fixed;
}
.table .inactive-row {
  opacity: 50%;
}

/* TODO remove if reverting back to using upstream vue-advanced-chat web component */
.vac-room-header .vac-rotate-icon {
  transform: rotate(0) !important;
}
.vac-message-wrapper .vac-card-system {
  max-width: 1024px;
}